article {
    margin: auto;
    padding: 2rem;
    max-width: 900px;
    background-color: white;
    font-size: 1.1;
    line-height: 2;
    h1, h2, h3, h4, h5, h6 {
        margin-top: 2rem;
        font-family: 'Special Elite', serif;
        font-weight: bolder;
    }
}