.Stats-wrapper {
  position: relative;
  height: 300px;
  width: 100%;
  margin-top: auto;
}

.box {
  float: left;
  margin: 10px;
  padding: 90px;
  min-width: 30%;
  border: 1px solid #dddddd;
  background-color: #341541;
}

.box h5,
h1 {
  text-align: center;
  color: white;
}
