.table-wrapper {
  overflow-x: auto;
  margin: 2rem auto;
  max-width: 900px;
}
thead tr {
  background-color: #341541;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #341541;
}

tbody tr:nth-child(odd) {
  background-color: #442255;
}
